*{
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: grey;
}

.contenedor{
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: green;
}

header{
    display: flex;
    justify-content:space-between;
    align-content: center;
    padding: 5% 10%;
}

.navHeader{
    display: flex;
    justify-content: space-between;
}

.headerNav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: 500;
    color: #242E52;
    gap: 28px;
}

.headerNav li{
    display: inline-block;
    margin: 0 5px;
}

.buttonSubmit{
    background: #F3603B;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 10px;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 19px;
    width: 134px;
    height: 44px;
    border: none;
}

h1, h2, h4, h6{
    font-weight: 700;
}

.central{
    display: flex;
    /* align-content: center; */
    justify-content:space-between; 
    /* margin: auto; */
    background-color: antiquewhite;
    margin: 0 10% 0 10%;
}

.centralIzq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: left;
    width: 43%;
    background-color: yellow;
}

h1{
    font-size: 58px;
}

.centralIzq p{
    font-size: 16.56px;
    width: 77%;
}

.centralDer{
    display: flex;
    background-color: aqua;
    width: 50%;
    justify-content: right;
}

.centralDer img{
    width: 100%;
}

.central2{
    display: flex;
    align-content: center;
    /* justify-content: space-between; */
    margin: 0 10% 0 10%;
    background-color: blue;
}

.central2izq{
    display: flex;
    width: 43%;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    background-color: aqua;
}

.central2izq h2{
    margin-bottom: 20px;
    font-size: 36px;
}

.central2izq p{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.central2der{
    display:block;
    width: 46%;
    max-width: 50%;
    background-color: yellow;
    justify-content:center;
    align-content: center;
    margin-left: 8%;
}

.central2derecha{
    display: flex;
    align-items: baseline;
}

.central2derecha input{
    border-radius: 30px;
    width: 69px;
    height: 43px;
    padding: 10 25;
    background: #F3603B;
    border-style: none;
    color: white;
}

.central2derecha h4{
    padding-bottom: 15px;
    font-weight: 700;
    color: #323851;
}

.central2derecha p{
    font-size: 16.3px;
    font-weight: 500;
    color: #B3B2B7;
}

.h4yp{
    padding: 0 0 25px 15px;
}

.central2 h2{
    font-size: 36px;
    color: #232851;
    width: 90%;
    background-color: #F3603B;
}

.central2izq p{
    width: 70%;
}

.secOpiniones h2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.divOpiniones{
    display: flex;
}

.opinionesCentrado img{
    width: 15%;
}

.opinionesCentrado h6{
    padding: 3%;
}

.opinionesCentrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    margin: 5px;
}

.secOpiniones form{
    display: flex;
    justify-content: center;
    margin: 5% 0 15% 0;
}

.simplifySection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-image: url(imagenes/fondoAnaranjado.jpeg);
}

.simplifySection h2{
    width: 40%;
    color: white;
}

footer{
    display: flex;
    flex-direction: row;
   
    margin: 5% 20%;
}

input:hover{
    text-decoration: underline;
}