*{
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    
}

body{
    background: #FFFFFF;
    background-image: url("/imagenes/bg-tablet-pattern.svg");
}

header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5% 10%;
}

.navHeader{
    display: flex;
    justify-content: space-between;
}

.headerNav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: 500;
    color: #242E52;
}

.headerNav li{
    display: inline-block;
    margin: 0 5px;
    background-color: #FFFFFF;
}

.headerNav a{
    color: #242E52;
}

#hamburguesa{
    display:none;
}

.buttonSubmit{
    background: #F3603B;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 10px;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 19px;
    width: 134px;
    height: 44px;
    border: none;
}

h1, h2, h4, h6{
    font-weight: 700;
}

.central{
    display: flex;
    justify-content:space-between; 
    margin: 0 10% 10% 10%;
}

.centralIzq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: left;
    width: 48%;
}

h1{
    font-size: 54px;
    color: #232C50;
}

.centralIzq p{
    font-size: 16.56px;
    width: 77%;
}

.centralIzq form{
    margin-top: 5%;
}

.centralDer{
    display: flex;
    width: 50%;
    justify-content: right;
}

.centralDer img{
    width: 100%;
}

.central2{
    display: flex;
    align-content: center;
    margin: 0 10% 0 10%;
}

.central2izq{
    display: flex;
    width: 43%;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
}

.central2izq h2{
    margin-bottom: 2%;
    font-size: 36px;
}

.central2izq p{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.central2der{
    display:block;
    width: 46%;
    max-width: 50%;
    justify-content:center;
    align-content: center;
    margin-left: 8%;
}

.central2derecha{
    display: flex;
    align-items: baseline;
}

.central2derecha input{
    border-radius: 30px;
    width: 65px;
    height: 40px;
    padding: 5 25;
    background: #F3603B;
    border-style: none;
    color: white;
}

.central2derecha h4{
    padding-bottom: 15px;
    font-weight: 700;
    color: #323851;
}

.central2derecha p{
    font-size: 16.3px;
    font-weight: 500;
    color: #B3B2B7;
}

.h4yp{
    padding: 0 0 25px 15px;
}

.central2 h2{
    font-size: 36px;
    color: #232851;
    width: 90%;
}

.central2izq p{
    width: 70%;
}

.secOpiniones h2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.divOpiniones{
    display: flex;
    width: 90%;
    margin: 10% 5% 0 5%;
}

.opinionesCentrado img{
    width: 45%;
    margin-top: -30px;
    
}

.opinionesCentrado picture{
    display: flex;
    justify-content: center;
}

.opinionesCentrado h6{
    padding: 3%;
}

.opinionesCentrado p{
    text-align: center;
}

.opinionesCentrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
    padding: 0 1%;
    text-align: center;
}

.secOpiniones form{
    display: flex;
    justify-content: center;
    margin: 5% 0 15% 0;
}

.simplifySection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-image: url(imagenes/fondoAnaranjado.jpeg);
}

.simplifySection h2{
    width: 40%;
    color: white;
}

.simplifySection input{
    background-color: #FFFFFF;
    color:#F3603B;
    font-size: 13px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4% 0;
    background-color:#1E1E26;
    width: 100%;
}

.columnasFooter{
    display: flex;
    text-align: center;
}

.columnasFooter{
    display:block
}

.logoFooter{
    padding-bottom: 45%;
}

.redesFooter{
    display: block;
}

.redesFooter i{
    padding: 0 2%;
    color:white;
    font-size: 20px;
}

.listaFooter{
    list-style: none;
}

.listaFooter li{
    padding-bottom: 15%;
}

.listaFooter a{
    color:#FFFFFF;
    text-decoration: none;
}

.footerDer{
    text-align: right;
}

.buttonFooter input{
    border-radius: 50px;
    border-style: none;
    padding: 3% 4%;
    background-color: #FFFFFF;
    margin-bottom: 23%;
}

.buttonFooter button{
    border-radius: 50;
    border-style: none;
    padding: 3% 6%;
    background-color: #F3603B;
}

.footerDer p{
    color:#8C8C94;
    size: 12px;
}

a{
    transition: color .5s;
}

a:hover{
    color: #F3603B;
}

i{
    transition: color .5s;
}

i:hover{
    color: #F3603B;
    /* background-color: #1E1E26; */
}

@media (max-width: 768px){
    #hamburguesa{
        display: flex;
        width: 3%;
        height: 3%;
    }

    .navHeader, .navegador{
        display: none;
    }

    .central, .central2{
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        margin: 0%;
    }

    .centralIzq, .centralDer{
        display: flex;
        width: 95%;
        text-align: center;
    }

    .centralIzq>p{width: 90%;}

    .centralDer{
        z-index: -1;
        position: relative;
    }

    .central2izq{
        display: flex;
        width: 100%;
        text-align: center;
        align-items: center;
    }
}